Django==5.0.9
Pillow==10.4.0
reportlab==4.2.5
xhtml2pdf==0.2.16
openpyxl==3.1.5
whitenoise==6.8.2
gunicorn==23.0.0
requests==2.32.3
python-dotenv==1.0.1
pandas==2.2.3
httpx==0.28.1
dj-database-url>=2.1.0
psycopg2-binary>=2.9
